################################## Marvel ################################
# Marvel plugin configuration
# http://www.elasticsearch.org/guide/en/marvel/current/
{% if es_marvel_agent_enable is defined and not es_marvel_agent_enable %}
# monitoring of this node is disabled
marvel.agent.enabled: false
{% else %}
# monitoring enabled for this node
{% if es_marvel_agent_exporter_es_hosts is defined and es_marvel_agent_exporter_es_hosts %}
# target hosts for monitoring data for this node
# format [hostname:port,...]
marvel.agent.exporter.es.hosts: {{ es_marvel_agent_exporter_es_hosts }}
{% else %}
# reporting metrics to localhost:9200
{% endif %}
{% if es_marvel_agent_indices is defined and es_marvel_agent_indices %}
# indices to monitor
marvel.agent.indices: {{ es_marvel_agent_indices }}
{% endif %}
{% if es_marvel_agent_interval is defined and es_marvel_agent_interval %}
# interval of the metric reports
marvel.agent.interval: {{ es_marvel_agent_interval }}
{% endif %}
{% if es_marvel_agent_shard_stats_enabled is defined and es_marvel_agent_shard_stats_enabled %}
# shard level statistics
marvel.agent.shard_stats.enabled: {{ es_marvel_agent_shard_stats_enabled }}
{% endif %}
{% endif %}
