[elasticsearch-{{es_version }}]
name=Elasticsearch repository for {{ es_version }} packages
baseurl=http://packages.elasticsearch.org/elasticsearch/{{ es_version }}/centos
gpgcheck=1
gpgkey=http://packages.elasticsearch.org/GPG-KEY-elasticsearch
enabled=1
