################################################################################
##   Copyright 2015 Big Data Partnership Ltd                                    #
##                                                                              #
##   Licensed under the Apache License, Version 2.0 (the "License");            #
##   you may not use this file except in compliance with the License.           #
##   You may obtain a copy of the License at                                    #
##                                                                              #
##       http://www.apache.org/licenses/LICENSE-2.0                             #
##                                                                              #
##   Unless required by applicable law or agreed to in writing, software        #
##   distributed under the License is distributed on an "AS IS" BASIS,          #
##   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   #
##   See the License for the specific language governing permissions and        #
##   limitations under the License.                                             #
#################################################################################

# Directory where the Elasticsearch binary distribution resides
ES_HOME={{ es_home }}

# Heap Size (defaults to 256m min, 1g max)
ES_HEAP_SIZE={{ es_heap_size }}

# Heap new generation
#ES_HEAP_NEWSIZE=

# max direct memory
#ES_DIRECT_SIZE=

# Additional Java OPTS
#ES_JAVA_OPTS=

# Maximum number of open files
MAX_OPEN_FILES={{ es_max_open_files }}

# Maximum amount of locked memory
#MAX_LOCKED_MEMORY=

# Maximum number of VMA (Virtual Memory Areas) a process can own
# TODO: cannot be set inside Docker
MAX_MAP_COUNT={{ es_max_map_count }}

# Elasticsearch log directory
LOG_DIR={{ es_log_dir }}

# Elasticsearch data directory
DATA_DIR={{ es_data_dir }}

# Elasticsearch work directory
WORK_DIR={{ es_work_dir }}

# Elasticsearch conf directory
CONF_DIR={{ es_conf_dir }}

# Elasticsearch configuration file (elasticsearch.yml)
CONF_FILE={{ es_conf_file }}

# User to run as, change this to a specific elasticsearch user if possible
# Also make sure, this user can write into the log directories in case you change them
# This setting only works for the init script, but has to be configured separately for systemd startup
ES_USER={{ es_user }}

# Configure restart on package upgrade (true, every other setting will lead to not restarting)
RESTART_ON_UPGRADE={{ es_restart_on_upgrade }}
